process {
    executor = 'local'
    cpus = 1
    memory = '16 GB'
    time = '24h'
}

params {
    data_dir = 'data'
    raw_dir = 'hipstr/raw'
    split_dir = 'hipstr/split'
    merge_dir = 'hipstr/merged'
    dumpstr_dir = 'hipstr/dumpstr'
    correct_dir = 'hipstr/correct'
    df_dir = 'hipstr/df_str'
    log_dir = 'logs'

    ref = 'ref/GRCh38_full_analysis_set_plus_decoy_hla.fa'
    regions = 'ref/hg38.hipstr_reference.bed'
    segdup = 'sample/hg38_segdup.sorted.bed.gz'
    cram_download_list = 'sample/cram_download.txt'
    cram_list = 'sample/cram.txt'
    left_cram_list = 'sample/left_cram.txt'
    filtered_vcf_list = 'sample/filtered_vcf.txt'
    correct_vcf_list = 'sample/correct_vcf.txt'
    chrs_list = 'processed/chrs.txt'
    hipstr_bin = '/cfs/earth/scratch/xiaf/hgdp/HipSTR/HipSTR'
    mergeSTR = '/cfs/earth/scratch/xiaf/bin/mergeSTR/bin/mergeSTR'
    dumpSTR = '/cfs/earth/scratch/xiaf/bin/STRTools/strtools_venv/bin/dumpSTR'
    correction_script = 'hipstr_correction.py'
    vcf_to_matrix = 'hipstr_vcf.py'
    samtools = 'samtools'
    bcftools = 'bcftools'
    tabix = 'tabix'
    num_files = 40
}

profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'earth-3'
        process.memory = '16 GB'
    }
}
